/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    font-family: arial, serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #0288FF;
}

th, td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #959595;
    font-size: 0.8em;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

.main-wrapper {
    margin: 0 auto;
    width: 1000px;
}

body {
    background-color: #ccc;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
    list-style: none;
}

header nav ul li a {
    font-size: 16px;
    color: #111;
    line-height: 63px;
    font-weight: bold;
}

header .nav-login {
    float: right;
}
header .nav-login a {
    font-size: 16px;
/*color: #111;*/
line-height: 63px;
}


.main-container {
    padding-top: 40px;
}

.main-container h2 {
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
}

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #111;
}
.error-message {
/*position: absolute; top: 100px;*/
width: 300px;
    margin: 2em auto 0 auto;
/*margin-left: auto;*/
/*margin-right: auto;*/
padding: 2em;
    border: 1px solid #a4a452;
    background-color: #ffff99;
    color: red;
    font-weight: bold;
    box-shadow: 5px 5px 5px #959595;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
}

.copyright {
    margin: 1em;
}

.hw {
    width: 100%;
    height: 30px;
    backgroud-color: #blue;
    text-align: center;
}

div#tasks {
    width: 700px;
    margin: auto;
}

div#tasks form {

}

div#tasks form input, div#tasks form select {
    border: none;
    width: 689px;
    height: 2em;
    margin-top: 5px;
    float: left;
    padding: 2px;
}

div#tasks form select.small, div#tasks form input.small {
    border: none;
    width: 340px;
    height: 2em;
    margin-right: 5px;
}

div#tasks form select.small {
    height: 2.3em;
}

div#tasks form button {
    width: 100px;
    height: 2em;
    margin-top: 5px;
}

div#task-list {
    margin-top: 2em;
}

div#no-login {
    width: 800px;
    height: 500px;
    margin: auto;
    padding-top: 2em;
    background: transparent url("../img/panda.png") no-repeat top right;
    font-size: 1.5em;
}

.task-finished {
    text-decoration: line-through;
    color: #009c55;
}